<div class="sidebar--panel panel-left"></div>
<div class="contextual--panel panel-right"></div>

<div class="content-wrapper">
  <header class="bar bar-nav main--nav">
    <a class="icon icon-bars pull-left btn-nav"></a>
    <a class="icon icon-list pull-right btn-aside"></a>
    <h1 class="title">Allo!</h1>
  </header>

  <div class="content main--content"></div>
</div>
