// bower:scss
@import '../bower_components/Font-Awesome/css/font-awesome.css';
//@import 'bourbon';

// endbower

// colours
$dark-grey: #6f6f6f;
$light-grey: #898989;
$dark-green: #94d074;
$light-green: #b1de9a;
$light-color: #ceecbc;
$open-panel-margin: 15%;

html, body, .container, .fullscreen {
  width: 100%;
  height: 100%;
}

body {
  background: #fafafa;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
}

.container {
  position: relative;
}

.content-wrapper {
  background: #898989;
  min-height: 100%;
  position: relative;
  outline: 1px solid rgba(0,0,0,0);
  z-index: 10;
  @include transform(translateZ(0) translateX(0) rotateY(0deg)); /* reset transforms (Chrome bug) */
  //-webkit-transition: -webkit-transform 0.5s;
  @include transition-property(transform);
  @include transition-duration(0.5s);
  @include box-shadow(0 0 5px 0 #656565);

}


/* fix ratchet issue */
.content > .table-view:first-child {
  margin-top: 0;
}

.content > .table-view {
  margin-bottom: 0;
}
