<input type="text" placeholder="email / username">
<input type="password" placeholder="******">

<button class="btn btn-positive btn-block">Submit</button>

<a href="#recover">recover</a>
<a href="#register">register</a>
