<div class="bar bar-standard bar-footer">
  <a href="#logout"><i class="fa fa-fw fa-lg fa-sign-out"></i> Logout</a>
</div>

<div class="content">
  <img class="sidebar__picture" data-src="holder.js/80x80/textmode:literal" />

  <p class="sidebar__username">John Doe</p>

  <div class="card">
    <ul class="table-view">
      <li><a href="#home"><i class="fa fa-fw fa-lg fa-home"></i> Home</a></li>
      <li><a href="#profile"><i class="fa fa-fw fa-lg fa-book"></i> My Profile</a></li>
      <li><a href="#settings"><i class="fa fa-fw fa-lg fa-cogs"></i> Settings</a></li>
      <li><a href="#password"><i class="fa fa-fw fa-lg fa-chain"></i> Change password</a></li>
      <li><a href="#help"><i class="fa fa-fw fa-lg fa-info"></i> Support</a></li>
    </ul>
  </div>

</div>
